In [4]:
import pandas as pd
import numpy as np

In [2]:
df0 = pd.read_csv('geocoded_0_to_10k.csv')
df2 = pd.read_csv('geocoded_10k_to_20k.csv')
df3 = pd.read_csv('geocoded_20k_to_30k.csv')
df4 = pd.read_csv('geocoded_30k_to_40k.csv')
df5 = pd.read_csv('geocoded_40k_to_50k.csv')
df6 = pd.read_csv('geocoded_50k_to_100k.csv')
df7 = pd.read_csv('geocoded_100k_to_150k.csv')
df8 = pd.read_csv('geocoded_150k_to_200k.csv')
df9 = pd.read_csv('geocoded_200k_to_end.csv')

/Users/yadushyadav/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8,21,22,42,63,81,90,91) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/yadushyadav/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,8,13,15,16,18,21,22,42,72,73,75,78,81,84,91) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/yadushyadav/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,13,15,16,18,21,22,42,43,46,51,72,73,75,78,81,84,91) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/yadushyadav/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,13,15,16,18,21,22,42,72,73,75,78,81,91) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/yadushyadav/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (2,10,13,15,16,18,21,22,42,43,44,46,48,51,72,73,75,78,81,91) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df9.head(1)

,Unnamed: 0,Unnamed: 0.1,account_created_at,account_lang,bbox_coords,coords_coords,country,country_code,created_at,description,...,hour,minutes,seconds,lemmatizer,stemmer,state,city,coordinates,state_new,County-City-State-Code-SDI
0,200000,200000,1447707403,NaN,"c(-114.818269, -109.0451527, -109.0451527, -11...","c(-111.656944, 34.286667)",United States,US,1.584640e+09,little family of trucking tzus ! we are truck ...,...,23.0,11.0,26.0,"['still', 'running', 'delivering', 'food', 'th...","['still', 'run', 'deliv', 'food', 'thank', 'tr...",AZ,NaN,"34.16825365, -111.93171085",NaN,"['Yavapai County', 'NA', 'Arizona', '4025', '31']"

In [4]:
frames = [df0,df2,df3,df4,df5,df6,df7,df8,df9]
df1 = pd.concat(frames)

In [5]:
def break_col_sdi(x):
    lt = x[1:-1].split(',')
    if len(lt)==3:
        return 'NaN'
    elif lt[4][2:-1] == 'NA':
        return 'NaN'
    else:
        return lt[4][2:-1]
    
df1['SDI'] = df1['County-City-State-Code-SDI'].apply(lambda x:break_col_sdi(x))

In [6]:
def break_col_code(x):
    lt = x[1:-1].split(',')
    if len(lt)==3:
        return 'NaN'
    elif lt[3][2:-1] == 'NA':
        return 'NaN'
    else:
        return lt[3][2:-1]
    
df1['Code'] = df1['County-City-State-Code-SDI'].apply(lambda x:break_col_code(x))

In [7]:
def break_col_state(x):
    lt = x[1:-1].split(',')
    if len(lt)==3:
        return 'NaN'
    elif lt[2][2:-1] == 'NA':
        return 'NaN'
    else:
        return lt[2][2:-1]
    
df1['State'] = df1['County-City-State-Code-SDI'].apply(lambda x:break_col_state(x))

In [8]:
def break_col_city(x):
    lt = x[1:-1].split(',')
    if len(lt)==3:
        return 'NaN'
    elif lt[1][2:-1] == 'NA':
        return 'NaN'
    else:
        return lt[1][2:-1]
    
df1['City'] = df1['County-City-State-Code-SDI'].apply(lambda x:break_col_city(x))

In [9]:
def break_col_county(x):
    lt = x[1:-1].split(',')
    if len(lt)==3:
        return 'NaN'
    elif lt[0][1:-1] == 'NA':
        return 'NaN'
    else:
        return lt[0][1:-1]
    
df1['County'] = df1['County-City-State-Code-SDI'].apply(lambda x:break_col_county(x))

In [10]:
df1['County']

0             Tarrant County
1             Allegan County
2                Leon County
3            Maricopa County
4                 Washington
5            Richmond County
6              Shelby County
7                 Washington
8         Los Angeles County
9           Snohomish County
10             Orange County
11           Davidson County
12        Piscataquis County
13          Salt Lake County
14           Hamilton County
15          Wilkinson County
16              Kings County
17         Montgomery County
18             Concho County
19               Erie County
20             Benton County
21         Miami-Dade County
22               Cook County
23               King County
24              Clark County
25            Socorro County
26             Lehigh County
27            Fairfax County
28            Suffolk County
29         Washington County
                ...
76386    Anne Arundel County
76387          Fresno County
76388       San Diego County
76389          Bergen County
76390         Madison County
76391                    NaN
76392        New York County
76393          Macomb County
76394         Tarrant County
76395    Hillsborough County
76396            King County
76397       Christian County
76398            Rice County
76399          Brazos County
76400       San Diego County
76401          Queens County
76402           Bexar County
76403      Montgomery County
76404     Los Angeles County
76405       Washtenaw County
76406          Harris County
76407         Klamath County
76408       Riverside County
76409           Kings County
76410       Snohomish County
76411     Piscataquis County
76412            Wake County
76413      New Castle County
76414         Oakland County
76415       La Crosse County
Name: County, Length: 276416, dtype: object

In [11]:
df1.shape

(276416, 111)

In [12]:
df1.tail(5)

,Unnamed: 0,Unnamed: 0.1,account_created_at,account_lang,bbox_coords,coords_coords,country,country_code,created_at,description,...,state,city,coordinates,state_new,County-City-State-Code-SDI,SDI,Code,State,City,County
76411,276411,276411,1240620044,NaN,"c(-71.084335, -66.885075, -66.885075, -71.0843...","c(NA, NA)",United States,US,1.58509e+09,NaN,...,ME,NaN,"45.188407, -68.98470499999999",NaN,"['Piscataquis County', 'NA', 'Maine', '23021',...",52,23021,Maine,NaN,Piscataquis County
76412,276412,276412,1527632150,NaN,"c(-78.9448945, -78.7291467, -78.7291467, -78.9...","c(NA, NA)",United States,US,1.58509e+09,Big bespectacled shaggy glutton. Bad artist & ...,...,NC,Cary,"35.75618835, -78.8370206",NaN,"['Wake County', 'Cary', 'North Carolina', '371...",23,37183,North Carolina,Cary,Wake County
76413,276413,276413,1423140706,NaN,"c(-75.503083, -75.491561, -75.491561, -75.5030...","c(NA, NA)",United States,US,1.58509e+09,"Austere Scholar, Boomer Rube, Staunch Crusader...",...,DE,Bellefonte,"39.7669309, -75.497322",NaN,"['New Castle County', 'NA', 'Delaware', '10003...",30,10003,Delaware,NaN,New Castle County
76414,276414,276414,1484528709,NaN,"c(-83.56663, -83.441773, -83.441773, -83.56663...","c(NA, NA)",United States,US,1.58509e+09,daws 2-13-18\n\nDKNBNGLRDNSTNS\n\nfind me in t...,...,MI,White Lake,"42.6555285, -83.5042015",NaN,"['Oakland County', 'NA', 'Michigan', '26125', ...",12,26125,Michigan,NaN,Oakland County
76415,276415,276415,1374117042,NaN,"c(-91.274654, -91.143588, -91.143588, -91.2746...","c(NA, NA)",United States,US,1.58509e+09,"-Viterbo University ðŸ˜´-Honestly, just going alo...",...,WI,La Crosse,"43.8056435, -91.209121",NaN,"['La Crosse County', 'La Crosse', 'Wisconsin',...",16,55063,Wisconsin,La Crosse,La Crosse County

In [13]:
df1.to_csv('all_276k.csv')

In [5]:
dfc = pd.read_csv('covid-19-data-master/us-counties.csv')
dfs = pd.read_csv('covid-19-data-master/us-states.csv')

In [6]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35698 entries, 0 to 35697
Data columns (total 6 columns):
date      35698 non-null object
county    35698 non-null object
state     35698 non-null object
fips      35180 non-null float64
cases     35698 non-null int64
deaths    35698 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.6+ MB

In [34]:
county_cases_dic = {}
county_deaths_dic = {}
county_names_dic = {}
county_states_dic = {}

In [35]:
import time

In [36]:
t1 = time.time()

def county_level(x):
    if pd.isnull(x['fips'])==True:
        return
        
    x['fips'] = int(x['fips'])
    
    county_names_dic[str(x['fips'])] = x['county']
    
    county_states_dic[str(x['fips'])] = x['state']

    county_cases_dic[str(x['fips'])] = x['cases']

    county_deaths_dic[str(x['fips'])] = x['deaths']
    

dfc[:12377].apply(lambda x: county_level(x), axis=1)

print((time.time()-t1)/60)

0.022228920459747316

In [37]:
dfc.shape

(35698, 6)

In [64]:
df_1 = pd.DataFrame(list(county_states_dic.items()),columns=['fips','state'])
df_2 = pd.DataFrame(list(county_names_dic.items()),columns=['fips','county'])
df_3 = pd.DataFrame(list(county_cases_dic.items()),columns=['fips','cases'])
df_4 = pd.DataFrame(list(county_deaths_dic.items()),columns=['fips','deaths'])

In [69]:
df_x = pd.merge(df_1, df_2, on='fips')
df_x = pd.merge(df_x, df_3, on='fips')
df_x = pd.merge(df_x, df_4, on='fips')

In [75]:
df_x = df_x.sort_values('cases')

In [76]:
df_x.to_csv('county_level_sorted.csv')

In [81]:
county_cases_dic = {}
county_deaths_dic = {}
county_states_dic = {}

t1 = time.time()

def state_level(x):
    if pd.isnull(x['fips'])==True:
        return
        
    x['fips'] = int(x['fips'])
    
    county_states_dic[str(x['fips'])] = x['state']

    county_cases_dic[str(x['fips'])] = x['cases']

    county_deaths_dic[str(x['fips'])] = x['deaths']
    

dfs[:1281].apply(lambda x: state_level(x), axis=1)

print((time.time()-t1)/60)

0.0018184185028076172

In [82]:
df_1 = pd.DataFrame(list(county_states_dic.items()),columns=['fips','state'])
df_2 = pd.DataFrame(list(county_cases_dic.items()),columns=['fips','cases'])
df_3 = pd.DataFrame(list(county_deaths_dic.items()),columns=['fips','deaths'])

In [83]:
df_y = pd.merge(df_1, df_2, on='fips')
df_y = pd.merge(df_y, df_3, on='fips')

In [86]:
df_y = df_y.sort_values('cases')

In [87]:
df_y.to_csv('state_level_sorted.csv')